<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>blogType</title>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

</head>
<body>
<div class="col-md-12 column">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>
                    <small>博客标签</small>
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 column">
            <a class="btn btn-primary" th:href="@{/toAddBlogTag}">新增</a>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>类别</th>
                    <th>创建时间</th>
                </tr>
                </thead>
                <tbody>

                <td>
                    <tr th:each="tag:${tagList}" varStatus="status">

                        <td>
                            <div th:text="${tag.getTagId()}"></div>
                        </td>
                        <td>
                            <div th:text="${tag.getTagName()}"></div>
                        </td>
                        <td>
                            <div th:text="${#dates.format(tag.getTagTime(),'yyyy-MM-dd HH:mm')}"></div>
                        </td>
                        <td>
                            <a th:href="@{'/toUpdateBlogTag/'+${tag.getTagId()}}">更改</a>
                            <a th:href="@{'/delTag/'+${tag.getTagId()}}">删除</a>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
