<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>content</title>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">最新文章</h3>
                </div>
                <ul class="list-group">
                    <tr th:each="blog:${blogList}" varStatus="status">
                        <li class="list-group-item">
                            <h2>
                                <a th:href="@{'/blogHome/toBlog/'+${blog.getBlogId()}}" th:text="${blog.getBlogTitle()}" target="content">
                                </a>
                            </h2>
                            <div class="text-right">
                                <p  th:text="'时间：'+${#dates.format(blog.getBlogTime(),'yyyy-MM-dd HH:mm')}"/></p>
                                <p  th:text="'阅读：'+${blog.getBlogCount()}+'  评论：'+${countList.get(blog.getBlogId()+'')}"/></p>


                            </div>
                        </li>
                    </tr>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
